* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  background-color: #444;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 150px;
  border: 2px solid red;
  background-color: white;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;
}

input {
  margin: 15px 0;
  padding: 5px 15px;
  font-size: large;
  width: 150px;
  border-radius: 10px;
  border: 2px solid royalblue;
  text-transform: capitalize;
}

.box {
  width: 150px;
  height: 150px;
  background-color: lightgreen;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: black;
  font-weight: bolder;
  margin-bottom: 15px;
}

.page1 {
  width: 100%;
  height: 100vh;
  background-color: royalblue;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:100px;
  text-transform:capitalize;
  color:white;
}

.page2 {
  width: 100%;
  height: 100vh;
  background-color: lightgreen;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:100px;
  text-transform:capitalize;
  color:white;
}

.page3 {
  width: 100%;
  height: 100vh;
  background-color: lightgray;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:100px;
  text-transform:capitalize;
  color:white;
}
