* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

html,
body,
#root {
  background-color: black;
  height: 100%;
  padding-left:3%;
}

.parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding:10px;
  background-color: #222;
  width: 25%;
  margin: 2%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 20px;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.btn {
  background-color: white;
  color:black;
  font-weight: 900;
  border:none;
  width:50%;
  border-radius: 10px;
  padding:5px;
  margin:8px;
  cursor: pointer;
}
