* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}

html,
body,
#root {
  background-color:lightgray;
  width: 100%;
  height: 100%;
}

.parent{
  padding:5%;
  display: flex;
  flex-wrap: wrap;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  margin:10px;
  background-color: white;
  width: 20%;
  height: 60%;
  padding:15px;
  border-radius: 25px;
  box-shadow: -5px -5px 25px -5px black;
}

.logo-img{
  width:35px;
  height: 35px;
  background-color: #222;
  border-radius: 12px;
  border-radius: 50%;
}

.logo-img img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

.save-btn{
  border:1px solid gray;
  width:80px;
  height: 30px;
  border-radius: 10px;
  color:gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding:12px;
  font-weight: 900;
  cursor: pointer;
}

.company{
  display: flex;
  margin-top:25px;
  align-items: center;
  text-transform: capitalize;
  gap:5px;
}

.c-name{
  font-size:16px;
  font-weight: 900;
}

.joining{
  font-size: 12px;
  color:gray;
  text-transform: capitalize;
}

.position{
  font-size: 18px;
  font-weight: bolder;
  margin-top:2px;
}

.tags{
  margin-top:10px;
  display: flex;
  align-items: center;
  gap:8px;
}

.tag{
  font-size: 12px;
  background-color: lightgray;
  padding:4px 8px;
  border-radius: 5px;
  font-weight: 700;
}

.bottom{
  display: flex;
  margin-top:50px;
  border-top:0.2px solid lightgray;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.salary{
  font-weight: 900;
  text-transform: lowercase;
}

.location{
  font-size: 12px;
  color:gray;
  margin-top:2px;
}

.apply-button{
  background-color: black;
  color:white;
  padding:8px 12px;
  font-size: 13px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}