* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:white;
}

.nav{
    background-color: orange;
    height:50px;
    width:100%;
    margin:15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
}

.btn{
    background-color: royalblue;
    color:white;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
}