* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.card{
  background-color: red;
  margin:5%;
  border-radius:50px;
  padding: 2%;
  font-size:15px;
}

.nav{
  background-color: royalblue;
  margin-top:5%;
  margin-left:5%;
  margin-right:5%;
  font-size: 20px;
  color:white;
  padding:2%;
}